* {
    padding: 0;
    margin: 0
  }

body { /*make default font sans-serif on the body, and changes the bg color white by default, reccomended font size is 12px*/
    background-color: white;
    font-family: sans-serif;
    font-size: 12px
     }

#header { /*make grey bar/menu section styling, can be modified into your liking, but reccomended width is 100%*/
    background-color: gainsboro;
    color: black;
    height: 50px;
    width: 100%;
    }

#header h3 a { /*this style to make menu in the header, reccomended using h3 rather than other formatting elements, can be added up to 10 menu*/
    font-size: 20px;
    text-decoration: none;
    font-family:sans-serif;
    color: black;
    float:left;
    padding-top: 10px;
    padding-left: 20px;
}
#header h3 a:hover { /*turns the menu in header red when you hover it, can be modified to your liking*/
    font-size: 20px;
    text-decoration: none;
    font-family:sans-serif;
    color: indianred;
    float:left;
    padding-top: 10px;
    padding-left: 20px;
}
#login { /*makes login button in the right corner, reccomended putting this login div inside the header div*/
    font-size: 20px;
    text-decoration: none;
    font-family:sans-serif;
    color: black;
    float:right;
    padding-top: 0px;
    padding-left: 20px;
    margin-right: 10px;
}
#logoheader { /*logo in header, fixed size is 50px and 150px, can be modified with 1:2 ratio*/
    height: 50px;
    width: 150px;
    float:left;
}
#logofooter { /*logo in footer, not necessary to put into the footer, it's ratio is 1:2*/
    height: 100px;
    width: 200px;
}
#footer { /*makes a footer section*/
    height: 100px;
    width: 100%;
    background-color:dimgrey;
    text-align: center;
    clear: both;
    position: relative;

}